.button {
    background-color: #E50914;
    color: #E5E5E5;
    border-radius: 4px;
    outline: none;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:active {
    background-color: #410411;
}

.button--big {
    height: 40px;
    padding: 10px 40px;
}

.button--small {
    height: 30px;
    padding: 10px 30px;
    font-size: 15px;
}

.button-isfav--true {
    background-color: transparent;
    border: 1px solid #410411;
}
